{% extends "template.html" %} {% load static %} {% block head %}
<title>Jaguarete KAA - Acerca de nosotros</title>
{% endblock %} {% block body %}

<h1 class="text-center mb-5">Jaguarete KAA</h1>
<div class="row d-flex justify-content-center">
  <div class="col-md-6 text-center">
    <h3 class="mb-3">ACERCA DE NOSOTROS</h3>
    <p class="text-center">
      Proveemos envases descartables para alimentos desde 1972. Asesoramos a
      nuestros clientes en la elección del packaging que mejor se adapte a las
      características de su negocio. A su vez desarrollamos y diseñamos los
      envases según las necesidades de cada cliente.
    </p>
    <h3 class="mb-3">RESPONSABILIDAD SOCIO-AMBIENTAL</h3>
    <p class="text-center">
      Con el objetivo de disminuir el impacto que produce el descartable en el
      medio ambiente, incorporamos a nuestro portfolio habitual, una línea de
      productos de papel, polipapel y cartulina. Estos materiales son
      biodegradables y se comprometen mucho más con la sustentabilidad del
      planeta. Somos conscientes de la necesidad de cambio en el uso de nuestro
      packaging, debiendo utilizar productos amigables con el ambiente.
      Eligiendo estos productos, tu empresa también puede ser parte del cambio.
    </p>
  </div>
</div>
{% endblock %}
