{% extends "template.html" %}
{% load categorias %}
{% load static %} {% block head %}
<title>Jaguarete KAA - Producto</title>
{% endblock %} {% block body %}

<h1 class="text-center mb-5">Detalle del producto</h1>
<div class="container justify-content-center">
<div class="card mb-3" style="max-width: 1080px">
  <div class="row g-0">
    <div class="col-md-4 text-center">
      <img style="
        width: 350px; height:350px;" src="{{object.imagen.url}}" alt="..." />
    </div>
    <div class="col-md-8">
      <div class="card-body text-center">
        <h5 class="card-title">{{object.titulo}}</h5>
        <p class="card-text">
          {{object.categoria_base}}
        </p>
        <p class="card-text">
          {{object.detalle}}
        </p>
        <p class="card-text">
          <small class="text-muted">Creado: {{object.fecha_creacion}}
          </small>
          
        </p>
        <button class="btn btn-primary text-center">Agregar al carrito</button>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
