{% extends 'template.html' %}
{% load categorias %}
{% block head %}
<title>Jaguarete KAA - Carrito</title>
{% endblock %}

{% block body %}
    <div class= "container">
        <div class="">
    <h3>
        <strong>Su Carrito</strong>
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Producto: </th>
            <th scope="col">Precio: </th>
            <th scope="col">Cantidad: </th>
            <th scope="col">Total: </th>
        </tr>
        </thead>
        <tbody>
        {% for item in objeto.productos.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ item.producto.titulo }}</td>
            <td>
                ${{ item.producto.precio}}
            
            </td>
            <td>

                {{ item.cantidad }}
                <!-- <a href="#"><i >reducir cantidad</i></a>
                
                <a href="#"><i class="fas fa-plus ml-2">agregar</i></a> -->
            </td>
            <td>
                ${{ item.precio_total_producto}}
     
             <button class="btn btn-danger"><a href="{% url 'jaguarete01:quitar_del_carrito' pk=item.producto.id %}">
                X
             </a></button>

            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="5">Vacío</td>
        </tr>

         <tr>
            <td colspan="5">
                <a href="/" class="btn btn-primary float-right">Siga comprando</a>
            </td>
        </tr>

        {% endfor %}

        {% if objeto.precio_total_carrito %}
        <tr>
            <td colspan="4"><b>Precio total</b></td>
            <td><b>${{ objeto.precio_total_carrito }}</b></td>
        </tr>
         <tr>
            <td colspan="5">
                <a href="#" class="btn btn-success float-right ml-2">Finalizar compra</a>
                <a href="/" class="btn btn-primary float-right">Seguir comprando</a>
            </td>
        </tr>
        
        {% endif %}
        
        </tbody>
    </table>

        </div>
    </div>
{% endblock %}