{% extends "template.html" %} {% load static %} {% block head %}
<title>Jaguarete KAA - Acerca de nosotros</title>
{% endblock %} {% block body %}

<h1 class="text-center mb-5">Jaguarete KAA</h1>

<!-- search results, probably add a for loop through all queries. -->
<div class="list-group mt-3">
  <a href="#" class="list-group-item list-group-item-action">
    The current link item
  </a>
  <a href="#" class="list-group-item list-group-item-action"
    >A second link item</a
  >
  <a href="#" class="list-group-item list-group-item-action"
    >A second link item</a
  >
  <a href="#" class="list-group-item list-group-item-action"
    >A second link item</a
  >
  <a href="#" class="list-group-item list-group-item-action"
    >A second link item</a
  >
  <a href="#" class="list-group-item list-group-item-action"
    >A third link item</a
  >
  <a href="#" class="list-group-item list-group-item-action"
    >A fourth link item</a
  >
  <!--   
    <a
      href="#"
      class="list-group-item list-group-item-action disabled"
      tabindex="-1"
      aria-disabled="true"
      >A disabled link item</a
    > -->
</div>

{% endblock %}
