{% extends 'template.html' %}
{% load categorias %}
{% block head %}
<title>Jaguarete KAA - Carrito</title>
{% endblock %}

{% block body %}
    <div class= "container">
        <div class="">
    <h3>
        <strong>Su Carrito</strong>
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Producto: </th>
            <th scope="col">Precio: </th>
            <th scope="col">Cantidad: </th>
            <th scope="col">Total: </th>
        </tr>
        </thead>
        <tbody>
        {% for item in compra.objects.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ item.producto.titulo }}</td>
            <td>
                ${{ item.producto.precio}}
            
            </td>
            <td>
                <a href="{% url 'jaguarete01:reducir_cantidad_producto' producto.producto.pk %}"><i >reducir cantidad</i></a>
                {{ item.producto.cantidad }}
                <a href="{% url 'jaguarete01:agregar_al_carrito' producto.producto.pk  %}"><i class="fas fa-plus ml-2">agregar</i></a>
            </td>
            <td>
                ${{ item.producto.precio_total_producto}}
     
             <a href="{% url 'jaguarete01:quitar_del_carrito' producto.producto.pk  %}">
                <i>Quitar</i>
             </a>

            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="5">Vacío</td>
        </tr>

         <tr>
            <td colspan="5">
                <a href="/" class="btn btn-primary float-right">Siga comprando</a>
            </td>
        </tr>

        {% endfor %}

        {% if object.precio_total_producto %}
        <tr>
            <td colspan="4"><b>Precio total</b></td>
            <td>${{ object.precio_total_producto }}</td>
        </tr>
         <tr>
            <td colspan="5">
                <a href="#" class="btn btn-warning float-right ml-2">Pagar</a>
                <a href="/" class="btn btn-primary float-right">Seguir comprando</a>
            </td>
        </tr>
        
        {% endif %}
        
        </tbody>
    </table>

        </div>
    </div>
{% endblock %}